<div class="experience">
  <h2 id="experience"><i style="font-size: 27px;" class="fa">&#xf0b1;</i>&nbsp;
    Experience</h2>

  <ul id='timeline'>
    <li class='work'>
      <input class='radio' id='work5' name='works' type='radio' checked>
      <div class="relative">
        <label for='work5'>Computer Vision Engineer &nbsp;|&nbsp; Lely
          Technologies, Netherlands</label>
        <span class='date'>Feb 2022 - Jul 2022</span>
        <span class='circle'></span>
      </div>
      <div class='expcontent'>
        <p>
          Full-time internship for 6 months, focusing on the video stitching on
          multi-cameras with multi-depth to obtain better panoramas of the farm.
        </p>
      </div>
    </li>

    <li class='work'>
      <input class='radio' id='work4' name='works' type='radio'>
      <div class="relative">
        <label for='work4'>Robotics Navigation Engineer &nbsp;|&nbsp; YES!
          Delft, Netherlands</label>
        <span class='date'>Mar 2022 - Jul 2022</span>
        <span class='circle'></span>
      </div>
      <div class='expcontent'>
        <p>
          Part-time internship for 6 months, focusing on the autonomous
          navigation function for Spot robots. Collaborate with construction
          company VolkerWessels to develop impactful solutions for their
          requirements.
        </p>
      </div>
    </li>

    <li class='work'>
      <input class='radio' id='work1' name='works' type='radio'>
      <div class="relative">
        <label for='work1'>Control Engineer &nbsp;|&nbsp; ROKAE Robotics, China</label>
        <span class='date'>Jul 2021 - Sep 2021</span>
        <span class='circle'></span>
      </div>
      <div class='expcontent'>
        <p>
          Full-time internship for 3 months, focusing on the control algorithm
          and simulation of 6-axis industrial manipulators.
        </p>
      </div>
    </li>

    <li class='work'>
      <input class='radio' id='work2' name='works' type='radio'>
      <div class="relative">
        <label for='work2'>Research Assistant &nbsp;|&nbsp; SUSTech Institute of
          Robotics, China</label>
        <span class='date'>Jun 2019 - Dec 2019</span>
        <span class='circle'></span>
      </div>
      <div class='expcontent'>
        <p>
          Part-time project, focusing on the mechanical design and prototype
          construction of quadruped robots.
        </p>
      </div>
    </li>

    <li class='work'>
      <input class='radio' id='work3' name='works' type='radio'>
      <div class="relative">
        <label for='work3'>Mechanical Engineer &nbsp;|&nbsp; Milebot Robotics,
          China</label>
        <span class='date'>Jun 2019 - Sep 2019</span>
        <span class='circle'></span>
      </div>
      <div class='expcontent'>
        <p>
          Full-time internship for 4 months, focusing on the development and
          verification of upper-limb assisted exoskeleton.
        </p>
      </div>
    </li>


  </ul>
</div>
