<section class="home-section wg-projects">

  <h2 id="pro"> <i style="font-size: 27px;" class="fa">&#xf544;</i>&nbsp;
    Featured Projects </h2>
  <span class="d-none default-project-filter">.js-id-Featured💡</span>
  <div class="project-toolbar">
    <div class="project-filters">
      <div class="btn-toolbar">
        <div id="filters" class="btn-group">
          <a href="##" data-filter="*" class="btn btn-success btn-sm
            text-nowrap">All💡</a>
          <a href="##" data-filter=".js-id-Robotics" class="btn btn-success
            btn-sm text-nowrap">Robotics</a>
          <a href="##" data-filter=".js-id-Machine-Learning" class="btn
            btn-success btn-sm text-nowrap">Machine Learning</a>
          <a href="##" data-filter=".js-id-Computer-Vision" class="btn
            btn-success btn-sm text-nowrap">Computer Vision</a>
          <a href="##" data-filter=".js-id-Featured💡" class="btn
            btn-success btn-sm text-nowrap active">Featured💡</a>
          <a href="##" data-filter=".js-id-Course-based" class="btn
            btn-success btn-sm text-nowrap">Course-based</a>
        </div>
      </div>
    </div>
  </div>





  <div id="containers" class="isotope projects-container row js-layout-row
    project-showcase mt-2">

    <div class="col-lg-12 project-item isotope-item js-id-Robotics
      js-id-Featured💡 mb-3">
      <div class="row align-items-center">
        <div class="col-12 col-md-8">
          <h5 class="article-title mb-0 mt-0" itemprop="name">Upper-Limb Passive
            Adaptive Assisted Exoskeleton</h5>

          <div class="btn-links">
            <a class="btn btn-outline-success btn-sm"
              href="https://youtu.be/olrT6oaLfEA"
              target="_blank" rel="noopener">
              Video
            </a>

            <a class="btn btn-outline-info btn-sm disabled" target="_blank"
              rel="noopener">
              Robot Design
            </a>

            <a class="btn btn-outline-info btn-sm disabled" target="_blank"
              rel="noopener">
              Exoskeleton
            </a>

          </div>
          <div class="article-style" itemprop="articleBody">
            The passive adjustable arm-exoskeleton is designed based on a spring
            slider model and four-bar-linkage model.
            It is a lightweight wearable system with a weight of 2 kg and
            with a feature of easy adjustability.
            The lifting force of the mechanism is relatively constant in a wide
            working range and will step down in the
            non-working area.
          </div>

        </div>
        <div class="col-12 col-md-4 order-first">
          <div align="center">
            <img src="/assets/img/exoskeleton.gif" width="250" height="200">
          </div>

        </div>
      </div>
    </div>



    <div class="col-lg-12 project-item isotope-item js-id-Computer-Vision
      js-id-Featured💡 mb-3">
      <div class="row align-items-center">
        <div class="col-12 col-md-8">
          <h5 class="article-title mb-0 mt-0" itemprop="name">Multi-Camera
            Real-Time Surveillance Video Stitching</h5>

          <div class="btn-links">
            <a class="btn btn-outline-success btn-sm"
              href="https://github.com/Kyle-Xu001/Multi-Depth-Multi-Camera-Stitching"
              target="_blank" rel="noopener">
              Code
            </a>
            <a class="btn btn-outline-info btn-sm disabled" target="_blank"
              rel="noopener">
              Computer Vision
            </a>
            <a class="btn btn-outline-info btn-sm disabled" target="_blank"
              rel="noopener">
              Image Stitching
            </a>
            <a class="btn btn-outline-warning btn-sm disabled" target="_blank"
              rel="noopener">
              In Progress
            </a>
          </div>

          <div class="article-style" itemprop="articleBody">
            Based on the AutoStitch framework, the feature matching strategy is
            developed given the corresponding ROIs since the cameras for
            surveillance are of constant parameters. Furthermore, seam-based
            optimization will be implemented to improve the stitching
            performance of the overlapping area.
          </div>
        </div>

        <div class="col-12 col-md-4 order-first">
          <div align="center">

            <img src="/assets/img/stitch.gif" width="250" height="210"
              itemprop="image" alt="">

          </div>
        </div>
      </div>
    </div>
    <!--
    <div class="col-lg-12 project-item isotope-item js-id-Computer-Vision
      js-id-Robotics js-id-Course-based mb-3">
      <div class="row align-items-center">
        <div class="col-12 col-md-8">
          <h5 class="article-title mb-0 mt-0" itemprop="name">Monocular Obstacle
            Avoidance for Micro Autonomous Vehicle</h5>

          <div class="btn-links">
            <a class="btn btn-outline-info btn-sm disabled" target="_blank"
              rel="noopener">
              Computer Vision
            </a>
            <a class="btn btn-outline-info btn-sm disabled" target="_blank"
              rel="noopener">
              Course
            </a>
            <a class="btn btn-outline-warning btn-sm disabled" target="_blank"
              rel="noopener">
              In Progress
            </a>
          </div>

          <div class="article-style" itemprop="articleBody">
            Based on different monocular vision algorthms, I developed multiple
            solutions for micro autonomous vehicles to perform obstacle
            avoidance mission.
          </div>
        </div>

        <div class="col-12 col-md-4 order-first">
          <div align="center">

            <img src="/assets/img/stitching.gif" width="250" height="210"
              itemprop="image" alt="">

          </div>
        </div>
      </div>
    </div>
  -->
    <!--
    <div class="col-lg-12 project-item isotope-item js-id-Machine-Learning
      js-id-Featured💡 mb-3">
      <div class="row align-items-center">
        <div class="col-12 col-md-8">
          <h5 class="article-title mb-0 mt-0" itemprop="name">Trajectory
            Learning with Gaussian Mixture Model in Human-Robot Teleoperation</h5>
          <div class="btn-links">
            <a class="btn btn-outline-success btn-sm"
              href=""
              target="_blank" rel="noopener">
              PDF
            </a>

            <a class="btn btn-outline-success btn-sm"
              href="https://github.com/Kyle-Xu001/Imitation-Learning-for-Skill-Transfer-in-Human-Robot-Teleoperation"
              target="_blank" rel="noopener">
              Code
            </a>

            <a class="btn btn-outline-info btn-sm disabled" target="_blank"
              rel="noopener">
              Machine Learning
            </a>
          </div>

          <div class="article-style" itemprop="articleBody">
            GMM
          </div>

        </div>
        <div class="col-12 col-md-4 order-first">
          <div align="center">
            <img src="/assets/img/exoskeleton.gif" width="250" height="210">
          </div>
        </div>
      </div>
    </div>
  -->
    <div class="col-lg-12 project-item isotope-item js-id-Robotics
      js-id-Featured💡 mb-3">
      <div class="row align-items-center">
        <div class="col-12 col-md-8">
          <h5 class="article-title mb-0 mt-0" itemprop="name">Online Trajectory
            Planning for Manipulators based on Discrete-Time Double S Profile</h5>
          <div class="btn-links">
            <a class="btn btn-outline-success btn-sm"
              href="https://github.com/Kyle-Xu001/Online-Trajectory-Planning-Manipulators"
              target="_blank" rel="noopener">
              Code
            </a>

            <a class="btn btn-outline-info btn-sm disabled" target="_blank"
              rel="noopener">
              Online Planning
            </a>
          </div>

          <div class="article-style" itemprop="articleBody">
            Implemented real-time path following movement based on the PID
            method and double S profile. The constraint-based PID method can
            achieve synchronous movement for all joints within dynamics
            constraints. The discrete-time double S method can achieve its
            maximum kinematic properties for each joint.
          </div>

        </div>
        <div class="col-12 col-md-4 order-first">
          <div align="center">
            <img src="/assets/img/ROKAE1.gif" width="250" height="210">
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12 project-item isotope-item js-id-Robotics
      js-id-Computer-Vision
      js-id-Featured💡 js-id-Course-based mb-3">
      <div class="row align-items-center">
        <div class="col-12 col-md-8">
          <h5 class="article-title mb-0 mt-0" itemprop="name">TIAGo Robot for
            Expiring Items Picking in Retail Environment</h5>

          <div class="btn-links">
            <a class="btn btn-outline-success btn-sm"
              href="https://youtu.be/LONCxDsKB5Q"
              target="_blank" rel="noopener">
              Video
            </a>
            <a class="btn btn-outline-info btn-sm disabled" target="_blank"
              rel="noopener">
              Course
            </a>
            <a class="btn btn-outline-info btn-sm disabled" target="_blank"
              rel="noopener">
              YOLOv5
            </a>
            <a class="btn btn-outline-info btn-sm disabled" target="_blank"
              rel="noopener">
              Behavior Tree
            </a>
          </div>

          <div class="article-style" itemprop="articleBody">
            Constructed ROS behavior tree architecture to dynamically adjusts
            goals and
            performs items picking/placing in sequence.
          </div>
        </div>

        <div class="col-12 col-md-4 order-first">
          <div align="center">

            <img src="/assets/img/tiago.gif" width="250" height="210"
              itemprop="image" alt="">

          </div>
        </div>
      </div>
    </div>



    <div class="col-lg-12 project-item isotope-item js-id-Machine-Learning
      js-id-Course-based mb-3">
      <div class="row align-items-center">
        <div class="col-12 col-md-8">
          <h5 class="article-title mb-0 mt-0" itemprop="name">Machine Learning
            for Car Racing Games</h5>

          <div class="btn-links">
            <a class="btn btn-outline-info btn-sm disabled" href="#"
              target="_blank"
              rel="noopener">
              Course
            </a>

            <a class="btn btn-outline-info btn-sm disabled" align="left"
              target="_blank"
              rel="noopener">
              Machine Learning
            </a>

          </div>
          <div class="article-style" itemprop="articleBody">
            Developed the Random Forest and Convolutional Neural Network models
            for multi-class classification, which
            used the current top-view image as input and outputted the control
            action (accelerate, steer left/right,
            brake).
          </div>

        </div>
        <div class="col-12 col-md-4 order-first">
          <div align="center">

            <img src="/assets/img/ML_vehicles.gif" width="250" height="190"
              itemprop="image" alt="">

          </div>

        </div>
      </div>
    </div>



    <div class="col-lg-12 project-item isotope-item js-id-Robotics
      js-id-Course-based mb-3">
      <div class="row align-items-center">
        <div class="col-12 col-md-8">
          <h5 class="article-title mb-0 mt-0" itemprop="name">Obstacle Detection
            and Avoidance for Autonomous Vehicle</h5>

          <div class="btn-links">
            <a class="btn btn-outline-info btn-sm disabled" target="_blank"
              rel="noopener">
              Course
            </a>

            <a class="btn btn-outline-info btn-sm disabled" align="left"
              target="_blank"
              rel="noopener">
              ROS
            </a>

          </div>
          <div class="article-style" itemprop="articleBody">
            Developed software on ROS to achieve autonomous driving in a
            simulated test track. Designed ROS nodes to
            detect obstacles and pedestrians from lidar pointclouds and camera
            images using PCL and OpenCV, and use
            these detections to generate control instructions.
          </div>

        </div>
        <div class="col-12 col-md-4 order-first">
          <div align="center">

            <img src="/assets/img/ROS.gif" width="250" height="190"
              itemprop="image" alt="">

          </div>

        </div>
      </div>
    </div>



    <div class="col-lg-12 project-item isotope-item js-id-Robotics
      js-id-Course-based js-id-Featured💡 mb-3">
      <div class="row align-items-center">
        <div class="col-12 col-md-8">
          <h5 class="article-title mb-0 mt-0" itemprop="name">Path Planner for
            Quadrotor based on Kinodynamics RRT* and k-PRM Methods</h5>

          <div class="btn-links">
            <a class="btn btn-outline-success btn-sm"
              href="https://github.com/Kyle-Xu001/Planning_Project/blob/main/RO47005_FinalReport.pdf"
              target="_blank"
              rel="noopener">
              PDF
            </a>

            <a class="btn btn-outline-success btn-sm"
              href="https://github.com/Kyle-Xu001/Planning_Project"
              target="_blank" rel="noopener">
              Code
            </a>

            <a class="btn btn-outline-info btn-sm disabled"
              target="_blank"
              rel="noopener">
              Planning
            </a>

            <a class="btn btn-outline-warning btn-sm disabled" target="_blank"
              rel="noopener">
              In Progress
            </a>

          </div>
          <div class="article-style" itemprop="articleBody">
            Developed RRT* and k-PRM path planner to generate collision-free
            path to verify the robustness on 3D random obstacle map.
            Furthermore, vehicle routing problem will be implemented to achieve
            path planning for multi-rbots with multiple goals,
          </div>

        </div>
        <div class="col-12 col-md-4 order-first">

          <img src="/assets/img/12.gif" width="250" height="190"
            itemprop="image" alt="">


        </div>
      </div>
    </div>


    <!--
    <div class="col-lg-12 project-item isotope-item js-id-Robotics">
      <div class="row align-items-center">
        <div class="col-12 col-md-8">
          <h5 class="article-title mb-0 mt-0" itemprop="name">Monocular Visual
            Odometry Pipeline</h5>

          <div class="btn-links">
            <a class="btn btn-outline-success btn-sm" href="#" target="_blank"
              rel="noopener">
              PDF
            </a>

            <a class="btn btn-outline-success btn-sm"
              href="https://github.com/hibetterheyj/Visual-Odometry-Pipeline?organization=hibetterheyj&amp;organization=hibetterheyj"
              target="_blank" rel="noopener">
              Code
            </a>

            <a class="btn btn-outline-success btn-sm"
              href="https://www.youtube.com/playlist?list=PLisWEer2ynw1Ws1_km6y-xXDAIyvJ9weM"
              target="_blank"
              rel="noopener">
              Video
            </a>

          </div>
          <div class="article-style" itemprop="articleBody">
            Implementation of a working, simple, monocular visual odometry
            (VO) pipeline in Matlab
            Implemented the automatic collection and cleaning of images based on
            MOG2 algorithm.
            Deployed and trained YOLOv5 to achieve quick waste classification.
            Achieved planning for robot arm to pick toss waste on dynamic
            conveyor belt.
          </div>

        </div>
        <div class="col-12 col-md-4 order-first">



          <a href="/project/2022-visual-odometry/">
            <img src="/assets/img/12.gif" width="250" itemprop="image" alt="">
          </a>

        </div>
      </div>
    </div>
  -->
  </div>


  <!--
  <br><br>
  
  <table class="projects">
    <tbody>

      <tr>
        <td>
          <video src="#" width="250" controls="controls" muted="muted"></video>
        </td>
        <td valign="top" align="left">
          <p style="font-size:18px;margin-bottom: 0px;">
            <font color="black"><b>Agile Waste Sorting with Tossing</b></font>
          </p>
          <p>
            [<a href="https://github.com/silvery107/ME336-Yellow-Team-Project"
              target="_blank">
              Code
            </a>]
            [<a href="#" target="_blank">
              Video
            </a>]
            <br>
            Implemented the automatic collection and cleaning of images based on
            MOG2 algorithm.
            Deployed and trained YOLOv5 to achieve quick waste classification.
            Achieved planning for robot arm to pick toss waste on dynamic
            conveyor belt.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <img
            src=https://raw.githubusercontent.com/silvery107/nmt-multi30k-pytorch/main/images/tuning.png
            width="250">
        </td>
        <td valign="top" align="left">
          <p style="font-size:18px;margin-bottom: 0px;">
            <font color="black"><b>NMT with Transformer on Multi30K</b></font>
          </p>
          <p>
            [<a href="https://github.com/silvery107/nmt-multi30k-pytorch"
              target="_blank">
              Code
            </a>]
            <br>
            Implemented a Transformer architecture to realize a full attention
            neural network that learns to
            translate German to English. The best model gains a BLEU score up to
            37.39, when the minimum
            frequency of words is selected to be 3.
          </p>
        </td>
      </tr>

      <tr>
        <td>
          <img
            src=https://raw.githubusercontent.com/silvery107/ND-agjunction-webots/main/docs/images/tractor_proto.png
            width="250">
        </td>
        <td valign="top" align="left">
          <p style="font-size:18px;margin-bottom: 0px;">
            <font color="black"><b>Tractor Autonomous Steering Simulation</b></font>
          </p>
          <p>
            [<a href="https://github.com/silvery107/ND-agjunction-webots"
              target="_blank">
              Code
            </a>]
            [<a href="#" target="_blank">
              Video
            </a>]
            <br>
            Developed a medium-fidelity model of two tractors in Webots and
            implemented the tractor model and
            the control
            algorithm in Webots, including four-wheel steering capability, body
            suspension and sensors.
            This project is collaborated with SUSTech, ND and AgJunction Inc.
          </p>
        </td>
      </tr>

      <tr>
        <td>
          <img
            src=https://raw.githubusercontent.com/silvery107/segway-locomotion-stm32/main/images/image2.png
            width="250">
        </td>
        <td valign="top" align="left">
          <p style="font-size:18px;margin-bottom: 0px;">
            <font color="black"><b>Segway Locomotion</b></font>
          </p>
          <p>
            [<a href="https://github.com/silvery107/segway-locomotion-stm32"
              target="_blank">
              Code
            </a>]
            [<a href="#" target="_blank">
              Video
            </a>]
            <br>
            This project is the locomotion control for a Segway robot with
            STM32F1.
            We implemented balance control, speed control, steering control
            method for the Segway robot
            together with the Bluetooth debugging function.
          </p>
        </td>
      </tr>

      <tr>
        <td>
          <video src="#" width="250" controls="controls" muted="muted"></video>

        </td>
        <td valign="top" align="left">
          <p style="font-size:18px;margin-bottom: 0px;">
            <font color="black"><b>HCI Gesture Control</b></font>
          </p>
          <p>
            [<a href="https://github.com/silvery107/hci-gesture-control"
              target="_blank">
              Code
            </a>]
            [<a href="#" target="_blank">
              Video
            </a>]
            <br>
            Used the watershed algorithm to realize skin color image
            segmentation, implemented gesture
            recognition
            by template matching, and implemented the gesture interaction with
            mouse and keyboard based on
            <em>Win32
              API</em>.
          </p>
        </td>
      </tr>

      <tr>
        <td style="border: none;">
          <img
            src=https://github.com/silvery107/fast-photo-mosaic/raw/main/images/mixed.png
            width="250">
        </td>
        <td valign="top" align="left" style="border: none;">
          <p style="font-size:18px;margin-bottom: 0px;">
            <font color="black"><b>Fast Photo Mosaic</b></font>
          </p>
          <p>
            [<a href="https://github.com/silvery107/fast-photo-mosaic"
              target="_blank">
              Code
            </a>]
            <br>
            Designed a feature descriptor based on the mean histogram of the LAB
            color space, used the
            pre-computed feature pool to optimize the synthesis speed, and
            realized the mosaic photo that has
            better performance than Foto-Mosaik-Edda.
          </p>
        </td>
      </tr>
    </tbody>
  </table>
-->
</section>