<script src="http://code.jquery.com/jquery-3.1.0.min.js"
    integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="crossorigin="anonymous"></script>
<script src="/assets/js/isotope.pkgd.js"></script>
<script>
// init Isotope
var $grid = $('.projects-container').isotope({
  // options
});
// filter items on button click
$('.btn-group').on( 'click', 'a', function() {
  var filterValue = $(this).attr('data-filter');
  $grid.isotope({ filter: filterValue });
});
$('.btn-group a').on('click', function(){
  $('.btn-group a').removeClass('active');
  $(this).addClass('active');
});
</script>
